{% extends "base.html" %}

{% block content %}
    <div id="content" >
        <div id="byline" class="color_border">
            {% if page['page_id'] != 'index' %}

            <h1>{{ page['title'] }}</h1>
                {%- if page['date'] %}
                <div id="date">{{ page['date'].strftime("%Y-%M-%d") }}</div>
                {% endif -%}
                {% if page.tags -%}
                    <div class="tags"><a href="{{ relpath(page, site['pages']['index']) }}tags{{ '.html' if site['append_html'] else '' }}">Tags:</a> 
                    {% for t in page['tags'] -%}
                        <a href="{{ relpath(page, site['pages']['index']) }}tags/{{ t }}{{ '.html' if site['append_html'] else '' }}">{{ t }}</a>
                        {%- if not loop.last -%}
        , 
                        {% endif -%}
                    {%- endfor -%}
                    </div>
                {%- endif -%}
            {%- endif -%}
            <div id="print_link">
                {% if print_version %}
                    <a href="{{ page['filename'] }}{{ '.html' if site['append_html'] else '' }}">normal version</a></div>
                {% else %}
                    <a href="{{ page['filename'] }}_print{{ '.html' if site['append_html'] else '' }}">printable version</a></div>
                {% endif %}
        </div>
        <div id="main_body" class="color_border">
        {{ page['html'] }}
        </div>
    </div>
{% endblock %}